<html>
<head>
    <title>Makers BnB </title>
</head>
<body align="center">

<link rel="stylesheet" href="../../style.css">

<% if(currentUser !== undefined) { %>
<h3>  Currently logged in as: <%= currentUser.name %> </h3>
<% } %>

