<html>
<head>
<link href="/css/css-reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

    <title>Makers BnB </title>
</head>
<body align="center">

<% if(currentUser !== undefined) { %>
<p>  Currently logged in as: <%= currentUser.name %> </p>
<% } %>