<!--includes the partials, so all you need to write is the body!-->
<% include partials/header %>

<h1>Welcome to Dr. PJs MakersBnB!</h1>

<!--stuff goes here-->
<h2>Add Room</h2>
<form method="POST" action="/rooms/add">
    <label>Room Name</label><br>
    <input type="text" name="roomName">
    <br>
    <label>Date available: Start</label><br>
    <input type="date" name="age">
    <br><br>
    <label>Date available: End</label><br>
    <input type="date" name="age">
    <br><br>
    <button type="submit" name="Submit">Submit</button>
</form>

<h2>Rooms</h2>

<ul>
<% rooms.forEach(function(room) { %>
    <li>
        <%= room.roomName %>
    </li>
<% })%>
</ul>

<% include partials/footer %>


