<% include partials/header %>

<% if(errors != undefined){ %>
<ul>
    <% errors.forEach(function(error){ %>
    <li>
        <%= error.msg %>
    </li>
    <% })%>
</ul>
<% } %>

<h2>Sign In</h2>
<form method="POST" action="/users/confirm">
    <label>Username</label><br>
    <input type="text" name="username">
    <br>
    <label>Password</label><br>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit" name="sign in">Sign in</button>
</form>

<form method="POST" action="/rooms">
    <button type="submit" name="rooms">Visit rooms</button>
</form>

<% include partials/footer %>
