<% include partials/header %>

<% if(errors != undefined){ %>
<ul>
    <% errors.forEach(function(error){ %>
    <li>
        <%= error.msg %>
    </li>
    <% })%>
</ul>
<% } %>

<h2>Sign Up</h2>
<form method="POST" action="/signup">
    <label>Name</label><br>
    <input type="text" name="name">
    <br>
    <label>Username</label><br>
    <input type="text" name="username">
    <br>
    <label>Password</label><br>
    <input type="password" name="password">
    <br>
    <label>Email</label><br>
    <input type="text" name="email">
    <br>
    <br>
    <button class="button-standard" type="submit" name="sign up">Sign up</button>
</form>

<form method="POST" action="/rooms">
    <button class="button-standard" type="submit" name="rooms">Visit rooms</button>
</form>

<% include partials/footer %>