<h2 class="header">Sign In</h2>

<% include partials/header %>

<% if(errors != undefined){ %>
<ul>
    <% errors.forEach(function(error){ %>
    <li>
        <%= error.msg %>
    </li>
    <% })%>
</ul>
<% } %>

<br>
<form method="POST" action="/users/confirm">
    <label class="inputPrompt">Username</label><br>
    <input type="text" name="username" placeholder="Your username">
    <br>
    <label class="inputPrompt">Password</label><br>
    <input type="password" name="password" placeholder="Your password" style="width: auto;">
    <br>
    <br>
    <button type="submit" class="btn btn-primary button" style="margin: 10px" name="sign in"> <span> Sign in</span></button>
</form>

<form method="POST" action="/rooms">
    <button type="submit" name="rooms" class="btn btn-primary button" style="margin: 10px"><span> Visit rooms</span></button>
</form>

<% include partials/footer %>
