<% include partials/header %>
<section id="intro">
	<div>
		<h1>Dr. PJs MakersBnB</h1>
		<p>Creepy houses for all your occasions!</p>
	</div>
</section>
<section id="buttons">
	<div>
		<row>
			<div class="col-md-6 float-left">
				<form method="POST" action="/rooms">
					<button type="submit" name="Visit Rooms" class="button-index">Visit Rooms</button>
				</form>
			</div>
			<div class="col-md-6 float-right">
				<form method="POST" action="/signup">
					<button type="submit" name="Sign Up" class="button-index">Sign Up</button>
				</form>
			</div>
		</row>
	</div>
</section>

<form method="get" action="/signin">
	<button type="submit" name="Sign In">Sign In</button>
</form>

<% include partials/footer %>