<% include partials/header %>

<h1>Welcome to Dr. PJs MakersBnB!</h1>

<form method="POST" action="/rooms">
	<button type="submit" name="Visit Rooms">Visit Rooms</button>
</form>

<form method="POST" action="/signup">
	<button type="submit" name="Sign Up">Sign Up</button>
</form>

<% include partials/footer %>